* {box-sizing: border-box;}
body{margin: 0; padding: 0;}

/*** only mobile 1-425px***/ 
@media(min-width:1px) {
    .page-templ-container {
        // width: 100%;
        width: 100vw;
        background-color: greenyellow;
    }

    // .......Head Block.........//

    .head-block {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-areas: 
        "head-block-ttl"
        "head-block-slider"
        "head-block-text";
        background-color: white;
        padding-bottom: 20px;
    }

    .head-block-ttl {
        grid-area:head-block-ttl;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 5vw;
    }
    .head-block-slider {
        grid-area:head-block-slider;
        display: flex;
        justify-content:center;
        align-items: center;

    }

.head-block-slider-size {
    width: 70vw;
}

    .head-block-text {
        grid-area:head-block-text;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .head-block-text-item {
        display: flex;
        align-items: center;
        transition: 0.3s;
        text-decoration: none;
        color: black;
    }
    .head-block-text-item:hover {
        background-color: gray;
    }

    .head-block-text-item-square {
        background-color: #c8cdd0;
        border-radius: 2px;
        width: 50px;
        height: 50px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        :first-child{
            color: white;
            font-size: 40px;
        }
    }

    // .......Select Block.........//
    
    .select-block {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        background-color: #f1f3f4;
        
    }

    .select-block-ttl {
        text-align: center;
        font-size: 3.5vw;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .select-block-items-zone {
        display: grid;
        justify-content: center;
        grid-gap: 15px;
    }

    .select-block-item {
        background-color: white;
        width: 250px;
        height: 250px;
        justify-self: center;
        display: grid;
        grid-template-rows: 80% 20%;
        text-decoration: none;

        .select-block-text-item-square {
            text-align: center;
            border: solid #5f6368 1px;
            overflow: hidden;
        }
        
        img {
            // height: 100%;
            //  height: 100% скорее всего длючит на айфонах
            width: 100%;
            justify-self: center;
            transition: 1s;
        }

        .select-block-item-name {
            background-color: #5f6368;
            border-bottom: solid #5f6368 1px;
            text-transform: uppercase;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
        }
    }

    .select-block-items-zone :hover img {
        transform: scale(1.1)
    }
    .select-block-items-zone :hover .select-block-item-name {
        background-color: white;
        color: #5f6368;
    }









    // .......Options Block 01.........//
    
    // .options-block-01 {
    //     padding-left: 15px;
    //     padding-right: 15px;
    //     padding-bottom: 20px;
    //     background-color: #f1f3f4;
        
    // }

    // .options-block-ttl-01 {
    //     text-align: center;
    //     font-size: 3.5vw;
    //     padding-top: 7px;
    //     padding-bottom: 7px;
    // }

    // .options-block-items-zone-01 {
    //     display: flex;
    //     justify-content: space-around;
    //     flex-wrap: wrap;
    //     gap: 15px;
    // }

    // .options-block-item-01 {
    //     background-color: white;
    //     width: 250px;
    //     height: 250px;
    //     justify-self: center;
    //     display: grid;
    //     grid-template-rows: 80% 20%;
    //     text-decoration: none;

    //     .options-block-item-image-square-01 {
    //         text-align: center;
    //         border: solid #5f6368 1px;
    //         overflow: hidden;
    //     }
        
    //     img {
    //         width: 100%;
    //         justify-self: center;
    //         transition: 1s;
    //     }

    //     .options-block-item-name-01 {
    //         background-color: #5f6368;
    //         border-bottom: solid #5f6368 1px;
    //         text-transform: uppercase;
    //         color: white;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         text-align: center;
    //         transition: 1s;
    //     }
    // }

    // .options-block-items-zone-01 :hover img {
    //     transform: scale(1.1)
    // }
    // .options-block-items-zone-01 :hover .options-block-item-name-01 {
    //     background-color: white;
    //     color: #5f6368;
    // }



    // .......Options Block.........//
    
    .options-block {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        // background-color: #f1f3f4;
        background-color: white;
    }

    .options-block-ttl {
        text-align: center;
        font-size: 3.5vw;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    // .options-block-items-zone {
    //     display: grid;
    //     justify-content: center;
    //     grid-gap: 15px;
    // }

    .options-block-items-zone {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        // gap: 15px;
    }

    .options-block-item-link {
        text-decoration: none;
    }

    .options-block-item {
        background-color: white;
        width: 350px;
        height: 250px;
        // justify-self: center;
        display: grid;
        grid-template-rows: 80% 20%;
        
        margin-bottom: 15px;

        transition: 0.5s;

        

        .options-block-item-image-square {
            // background-color: red;
            display: flex;
            align-items: center;
        }
        
        img {
            // height: 100%;
            width: 100%;
            justify-self: center;
            // transition: 1s;
        }

        .options-block-item-name {
            background-color: #5f6368;
            // border-bottom: solid #5f6368 1px;
            
            // такой же цвет как #5f6368 (цвер панели Google Ads) но полупрозрачный:
            border-bottom: solid rgba(95, 99, 104, 0.4) 1px;
            text-transform: uppercase;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: 0.8s;
            
        }
    }

    // .options-block-items-zone :hover img {
    //     transform: scale(1.1)
    // }
    // .options-block-items-zone :hover .options-block-item-name {
    //     background-color: white;
    //     color: #5f6368;
    // }


    .options-block-items-zone :hover .options-block-item {
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 21px 20px rgba(0,0,0,0);
        // background-color: white;
        // color: #5f6368;
    }
    .options-block-items-zone :hover .options-block-item-name {
        // background-color: white;

        // такой же цвет как #5f6368 (цвер панели Google Ads) но полупрозрачный:
        background-color: rgba(95, 99, 104, 0.07);
        color: #5f6368;
    }



}



/*** mobile 426-767px***/ 
@media(min-width:426px) {

    // .......Select Block.........//
    .select-block-item {
        width: 300px;
        height: 300px;
    }

    // .......Options Block 01.........//
    .options-block-item-01 {
        width: 300px;
        height: 300px;
    }



    // .......Options Block.........//
    .options-block-item {
        // width: 300px;
        // height: 300px;
    }




}


/*** tablet => sm  768-991***/ 
@media(min-width:768px) {

    // .......Head Block.........//

    .head-block {
        padding-left: 100px;
        padding-right: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "head-block-ttl head-block-ttl"
        "head-block-slider head-block-text";
        padding-bottom: 60px;
    }

    .head-block-ttl {
        font-size: 3vw;
    }

    .head-block-slider-size {
        width: 35vw;
    }

    // .......Select Block.........//

    .select-block {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
    }
    
    .select-block-ttl {
        font-size: 2vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .select-block-items-zone {
        grid-template-columns: 1fr 1fr;
    }


    // .......Options Block 01.........//

    .options-block-01 {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
    }
    
    .options-block-ttl-01 {
        font-size: 2vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    // .options-block-items-zone {
    //     grid-template-columns: 1fr 1fr 1fr;
    // }




    // .......Options Block 2.........//

    .options-block {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
    }
    
    .options-block-ttl {
        font-size: 2vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    // .options-block-items-zone {
    //     grid-template-columns: 1fr 1fr 1fr;
    // }






   
}
    

/*** laptop => md 992-1199***/ 
@media(min-width:992px) {

    .options-block-items-zone {
        row-gap: 35px;
    }
}
    
/*** desktop => lg 1200***/ 
@media(min-width:1200px) {

    // .......Select Block.........//

    .select-block-items-zone {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .select-block-item {
        width: 250px;
        height: 250px;
    }

    // .......Options Block -01.........//

    // .options-block-items-zone {
    //     grid-template-columns: 1fr 1fr 1fr;
    // }

    

    .options-block-item-01 {
        width: 250px;
        height: 250px;
    }




    // .......Options Block.........//

    // .options-block-items-zone {
    //     grid-template-columns: 1fr 1fr 1fr;
    // }

    

    .options-block-item {
        // width: 250px;
        // height: 250px;
    }

    
}

